
.chip {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 60px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #222222;
}

.chip img {
    margin-right: 15px;
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 45%;
}
.chip span {
    padding-left: 90px;
    text-align:right;
}
    .chip span a {
        color:beige;
    }

h2 {
    margin-top: 50px;
    text-align: center;
    color:#222222;
}
h3{
    color:#222222;
}
.back-link a{
    font-size:20px;
    color:#222222;
}