@{
    ViewBag.Title = "About";
}
<head>
    @Styles.Render("~/Content/Styles/About.css")
</head> 


<div class="jumbotron">
    <div class="row">
        <div class="col col-lg-6">
            <p>Manicure and pedicure</p>
            <img src="../../Content/img/ManicureAndPedicure.jpg"/><br />
            <p>@Html.ActionLink("Our team", "NailsTeam", "Home")</p>
        </div>
        <div class="col col-lg-6">
            <p>All your hair needs</p>
            <img src="../../Content/img/natural-hair-know-how.jpg" />
            <p>@Html.ActionLink("Our team", "HairTeam", "Home")</p>
        </div>
    </div>
</div>
<div class="jumbotron">
        <h3 style="text-align:center">Ценоразпис</h3>
        <br />
        <p>Фризьорство</p>
        <p>Дамско подстригване</p>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <p>Мъжко подстригване</p>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <p>Сешоар</p>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <p>Къдрици</p>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <p>Боадисване</p>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
        <span>Фризьорство</span>.........................................................................<span>Фризьорство</span>
</div>
