@{
    ViewBag.Title = "Contact";
}
<head>
    @Styles.Render("~/Content/Styles/Contact.css")
</head>

<h2>@ViewBag.Title</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col col-md-4">
            <address>
                Sofia<br />
                Students town, <br />
                akad.Stefan Mladenov str 35<br />
                <abbr title="Phone">Phone:</abbr>
                0879272722
            </address>
        </div>
        <div class="col col-md-4 col-lg-offset-1">
            <div class="opening-time">
                <h4>РАБОТНО ВРЕМЕ</h4>
                <dl><dt>Всеки ден</dt><dd>10:00 - 22:00</dd></dl>
            </div>
        </div>
        <div class="col col-md-3">
            <p><a class="btn btn-default" href="https://www.google.bg/maps/place/MPI+South+Mall/42.645211,23.3401004,17z/data=!3m1!4b1!4m5!3m4!1s0x40aa841a2d8e2d45:0x54bc14f61ad551db!8m2!3d42.645211!4d23.3422891">Намерете ни</a></p>
        </div>
        <div class="row">
            <div class="col col-md-7">
                <div style="margin-top:50px"><img style="width:40%" src="../../Content/img/Salon.jpg" /></div>
            </div>
        </div>
    </div>
</div>

