
@{
    ViewBag.Title = "HairTeam";
}

<head>
    @Styles.Render("~/Content/Styles/HairTeam.css")
</head>

<h2>HairTeam</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron">
    <div class="row">
        <div class="col col-md-4">
            <div class="card">
                <img class="img-responsive " src="../../Content/img/Team/Ivaila.jpg" alt="Ivaila">
                <span>Ivaila</span>
                <span><a href="https://www.facebook.com/ivaila.daneva?fref=ts"><i class="fa fa-facebook"></i></a></span>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <img class="img-responsive" src="../../Content/img/Team/vesi.jpg" alt="Vesi">
                <span>Veselina</span>
                <span><a href="https://www.facebook.com/veselina.dineva.10?fref=ts"><i class="fa fa-facebook"></i></a></span>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card">
                <img class="img-responsive" src="../../Content/img/Team/Dido.jpg" alt="John">
                <span>Deyan</span>
                <span><a href="https://www.facebook.com/deqn.baldjiev?fref=ts"><i class="fa fa-facebook"></i></a></span>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4 col-md-offset-2">
                <div class="card">
                    <img class="img-responsive" src="../../Content/img/Team/Mimi2.jpg" alt="John">
                    <span>Maria</span>
                    <span><a href="https://www.facebook.com/profile.php?id=1615136601&fref=ts"><i class="fa fa-facebook"></i></a></span>
                </div>
            </div>
            <div class="col col-md-4 @*col-md-offset-1*@">
                <div class="card">
                    <img  @*style="margin-left: 50px"*@  class="img-responsive" src="../../Content/img/Team/radi.jpg" alt="Radi">
                    <span  @*style="margin-left: 50px"*@>Radoslava</span>
                    <span><a href="https://www.facebook.com/radoslava.kostukova?fref=ts"><i class="fa fa-facebook"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</div>

