
@{
    ViewBag.Title = "NailsTeam";
}
<head>
    @Styles.Render("~/Content/Styles/NailsTeam.css")
</head>

<h2>NailsTeam</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col col-lg-4">
            <div class="card">
                <img src="../../Content/img/Team/Silvana2.jpg">
                <span>Silvana</span>
                <span><a href="https://www.facebook.com/silvana.paunovanikolova?fref=ts"><i class="fa fa-facebook"></i></a></span>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card">
                <img src="../../Content/img/Team/Greta.jpg">
                <span>Greta</span>
                <span><a href="https://www.facebook.com/profile.php?id=100000836529116&fref=ts"><i class="fa fa-facebook"></i></a></span>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="card">
                <img src="../../Content/img/Team/Neli.jpg">
                <span>Neli</span>
                <span><a href="https://www.facebook.com/profile.php?id=100000836529116&ref=ts&fref=ts&qsefr=1"><i class="fa fa-facebook"></i></a></span>
    
            </div>
        </div>
    </div>
</div>
